<form action="/restaurants/{{ restaurant._id}}/edit" method="POST">
  <input type="text" placeholder="name" name="name" value="{{restaurant.name}}">
  <button type="submit" class="btn btn-info">Save</button>
  <a href="/" class="btn btn-info">Back</a>
</form>