<form action="/restaurants" method="POST" style="margin: 20px 20px;">
  <input type="text" placeholder="name" name="name">
  <button type="submit" class="btn btn-info">Create</button>
  <a href="/" class="btn btn-info">Back</a>
</form>